        /* Coin Project CSS */

/* Spinner */
#spinnerDiv {
    position: fixed;
    z-index: 666;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center; 
    visibility:hidden;
}
#spinner{
    width: 200px;
    height: 200px;
}

/* Header*/
#headerDiv{
    border-bottom: solid black 1px;
}
#cryptoPic{
    background-image: url("../images/cryptoPic.jpeg");
    height: 100px;
    width: 200px;
    position: absolute;
    right: 0;
    margin-bottom: 5rem;
}

/* Parralax */
.parallax {
    min-height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/cryptoParralax.jpg");
}

/* Modal */
.modal-content{
    text-align: center;
}
.modal-title{
    margin-left: 45%;
}
.modal-title-picked{
    margin-left: auto;
    margin-right: auto;
}

/* Live Report Page */
#liveReports{
    text-align: center;
}

/* About Page */
.logoImages {
    max-width: 100px;
}
.myPic{
    max-width: 80%;
}